
/*
=====================================
1. Global: Colours
=====================================
*/

  /*
  =====================================
  1. Button pokemon
  =====================================
  */

.btn-pokemon{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #3b3035;
  color: #fff;
  border-color: none;
  text-transform: capitalize;
  text-align: center;
  margin: 3px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}



/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

    .btn-pokemon{
      font-family: 'Helvetica', 'Arial', sans-serif;
      display: inline-block;
      font-size: 1em;
      padding: 1em 2em;
      margin-top: 10px;
      -webkit-appearance: none;
      appearance: none;
      background-color: #ff0010;
      color: #fff;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      position: relative;
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

    .btn-pokemon{
      font-family: 'Helvetica', 'Arial', sans-serif;
      display: inline-block;
      font-size: 1em;
      padding: 1em 2em;
      margin-top: 10px;
      -webkit-appearance: none;
      appearance: none;
      background-color: #ff0010;
      color: #fff;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      position: relative;
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    }

}
